<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
        <a class="navbar-brand">Stock Exchange Router</a>
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="uploadExcel">Import Data</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="manageCompany">Manage Company</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="manageExchange">Manage Exchange</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="updateIPO">Update IPO</a></li>
            <!-- <li class="nav-item"><a class="nav-link" routerLink="addCompany">Add Company</a></li> -->  
        <li class="align">
        <button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-log-out" click()=logout()></span> Log out
        </button>
       </li>
      </ul>
    </div>
</nav>

<router-outlet></router-outlet>
