<table class="table table-bordered table-hover">
    <tbody>
      <tr>
        <td>CompanyName: <input type="text" [(ngModel)]="item.companyName"> </td>
      </tr>
      <tr>
        <td>Turnover:<input type="number" [(ngModel)]="item.turnover"></td>
      </tr>
      <tr>
        <td>CEO:<input type="text" [(ngModel)]="item.ceo"></td>
      </tr>
      <tr>
        <td>BoardOfDirectors: <input type="text" [(ngModel)]="item.boardOfDirectors"></td>
      </tr>
      <tr>
        <td>Brief:<input type="text" [(ngModel)]="item.brief"></td>
      </tr>
      <tr>
        <td>Sector:<input type="number" [(ngModel)]="item.sectorId"></td>
      </tr>
<!--       <tr>
        <td>StockExchanges:<input type="number" [(ngModel)]="item.StockExchangeIds"></td>
      </tr> -->
      <tr>
        <td><label for="StockExchange">Stock Exchange: </label>
        <input type="number" list="stockexchanges" id="StockExchange" name="compare">
         <datalist id="stockexchanges" >
         <option *ngFor="let item of se_list" [value]="item.stockExchangeID" >{{item.stockExchangeName}}</option>
         </datalist>
       </td>
      </tr>
      <tr>
        <td><input type="submit" class="btn btn-info" (click)=Add() value="Add Company"></td>
      </tr>
    </tbody>
</table>

