<!-- <div class="wrapper fadeInDown">
  <div id="formContent">
    Login Form
    <form>
      <input type="text" [(ngModel)]="uname"  class="fadeIn second" name="login" placeholder="username">
      <input type="text" [(ngModel)]="pass" class="fadeIn third" name="login" placeholder="password">
      <input type="submit" (click)=SignIn() value="Sign in">
    </form>

  </div>
</div> -->

<!--[(ngModel)]="pass" (click)=SignIn() -->


<table class="table table-bordered table-hover">
  <tbody>
    <tr>
      <td>Username<input type="text" [(ngModel)]="uname" ></td>
    </tr>
    <tr>
      <td>Password<input type="text" [(ngModel)]="pass"></td>
    </tr>
    <tr><input type="submit" class="btn btn-info" (click)=SignIn() value="Sign in"></tr>
  </tbody>
</table>
