<br><br><br><br><br><br>

<div class="wrapper" id="container">
    <button type="button home-button" (click)="ViewComp()" id="button1" > View all companies</button>
    <button type="button contact-button" id="button2"><a routerLink="AddComp">Add a new Company</a></button>
    <button type="button contact-button" id="button3"><a routerLink="UpdateComp">Update a Company</a></button>
    <button type="button contact-button" id="button4"><a routerLink="DeleteComp">Delete a Company</a></button>
</div>

<br><br><br><br>

<router-outlet></router-outlet>

