<br>
<br>

<br><br>
<table class="table table-bordered table-hover" *ngIf="display">
  <thead>
    <tr>
      <th>ID</th><th>Price per share</th><th>Total no. of shares</th><th>Open Date</th>
      <th>Open Time</th><th>Remarks</th><th>CompanyId</th><th>StockExchangeId</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of ipo_list">
      <td>{{item.ipoDetailID}}</td>
      <td>{{item.pricePerShare}}</td>
      <td>{{item.totalNumOfShares}}</td>
      <td>{{item.openDate}}</td>
      <td>{{item.openTime}}</td>
      <td>{{item.remarks}}</td>
      <td>{{item.companyId}}</td>
      <td>{{item.stockExchangeId}}</td>
    </tr>
  </tbody>
</table>