
<div class="wrapper fadeInDown">
    <div class="form-group">
      <!-- Signup Form -->
      <form>
        Username: <input type="text" [(ngModel)]="uName" id="Username" name="signup" class="fadeIn second"  > 
        Password:<input type="password" [(ngModel)]="password" id="Password" name="signup" class="fadeIn third" >
        Email:<input type="email" [(ngModel)]="email" id="Email" name="signup" class="fadeIn fourth" >
        Mobile: <input type="number" [(ngModel)]="mobile" id="Mobile" name="signup" class="fadeIn fifth" >
        UserType:<input type="number" [(ngModel)]="userType" id="UserType" name="signup" class="fadeIn sixth"placeholder="User Type">  
        <input type="submit" class="fadeIn seventh" (click)=SignUp() value="Sign Up">
      </form>
  
    </div>
  </div>

  
  
  