  <table class="table table-bordered table-hover">
  
    <tbody>
      <tr>
        <td>Username: <input type="text" [(ngModel)]="item.Username"> </td>
      </tr>
      <tr>
        <td>Password:<input type="password" [(ngModel)]="item.Password"></td>
      </tr>
      <tr>
        <td>Email:<input type="email" [(ngModel)]="item.Email"></td>
      </tr>
      <tr>
        <td>Mobile: <input type="number" [(ngModel)]="item.Mobile"></td>
      </tr>
      <tr>
        <td>UserType:<input type="number" [(ngModel)]="item.UserType"></td>
      </tr>
      <tr>
        <td><input type="submit" class="btn btn-info" (click)=SignUp() value="Sign Up"></td>
      </tr>

    </tbody>
  </table>
  

  
  
  