<br>
<br>
<br>
<br>

<div id="form1">            
    <form>
        <div class="form-group FormField">
            <label for="">Upload Stock Price Excel Data:</label>
            <input type="file"  name="Input File" (change)="onSelectedFile($event)"
            class="form-control" style="font-size: medium;" id="" placeholder="Upload Excel sheet">                
        </div>
        <button type="submit" class="btn btn-primary" (click)="UploadStockPriceExcel()"
        style="font-size: medium; float: left;">Upload</button>
    </form>
</div>

<!-- <table class="table table-bordered table-hover" *ngIf="display">
    <thead>
      <tr>
        <th>Company Id</th><th>Stock Exchange Id</th><th>Number of records imported</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of ipo_list">
        <td>{{item.ipoDetailID}}</td>
        <td>{{item.pricePerShare}}</td>
        <td>{{item.totalNumOfShares}}</td>
        <td>{{item.openDate}}</td>
        <td>{{item.openTime}}</td>
        <td>{{item.remarks}}</td>
        <td>{{item.companyId}}</td>
        <td>{{item.stockExchangeId}}</td>
      </tr>
    </tbody>
  </table> 

  {{companiesNO}} -->

